In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [14]:
vn = ["age","workclass","fnlwgt","education","education_years","marital_status","occupation",
"relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","label"]

url="https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"

df=pd.read_csv(url,header=0,names=vn)

In [15]:
df.head()

,age,workclass,fnlwgt,education,education_years,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,label
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [16]:
df.shape

(32560, 15)

In [12]:
len(vn)

14

In [13]:
df.dtypes

age                object
workclass           int64
fnlwgt             object
education           int64
education_years    object
marital_status     object
occupation         object
relationship       object
race               object
sex                 int64
capital_gain        int64
capital_loss        int64
hours_per_week     object
native_country     object
dtype: object

In [24]:
country_cnt = df.groupby('native_country')['native_country'].count()
country_cnt

native_country
 ?                               583
 Cambodia                         19
 Canada                          121
 China                            75
 Columbia                         59
 Cuba                             95
 Dominican-Republic               70
 Ecuador                          28
 El-Salvador                     106
 England                          90
 France                           29
 Germany                         137
 Greece                           29
 Guatemala                        64
 Haiti                            44
 Holand-Netherlands                1
 Honduras                         13
 Hong                             20
 Hungary                          13
 India                           100
 Iran                             43
 Ireland                          24
 Italy                            73
 Jamaica                          81
 Japan                            62
 Laos                             18
 Mexico                          643
 Nicaragua                        34
 Outlying-US(Guam-USVI-etc)       14
 Peru                             31
 Philippines                     198
 Poland                           60
 Portugal                         37
 Puerto-Rico                     114
 Scotland                         12
 South                            80
 Taiwan                           51
 Thailand                         18
 Trinadad&Tobago                  19
 United-States                 29169
 Vietnam                          67
 Yugoslavia                       16
Name: native_country, dtype: int64

In [27]:
type(country_cnt)

pandas.core.frame.DataFrame

In [28]:
country_cnt.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_years',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'label'],
      dtype='object')

In [49]:
country_cnt2 = country_cnt.copy()
#country_cnt2 = country_cnt2['native_country']

In [50]:
country_cnt2 = country_cnt2['age']

In [53]:
country_cnt2

native_country
 ?                               583
 Cambodia                         19
 Canada                          121
 China                            75
 Columbia                         59
 Cuba                             95
 Dominican-Republic               70
 Ecuador                          28
 El-Salvador                     106
 England                          90
 France                           29
 Germany                         137
 Greece                           29
 Guatemala                        64
 Haiti                            44
 Holand-Netherlands                1
 Honduras                         13
 Hong                             20
 Hungary                          13
 India                           100
 Iran                             43
 Ireland                          24
 Italy                            73
 Jamaica                          81
 Japan                            62
 Laos                             18
 Mexico                          643
 Nicaragua                        34
 Outlying-US(Guam-USVI-etc)       14
 Peru                             31
 Philippines                     198
 Poland                           60
 Portugal                         37
 Puerto-Rico                     114
 Scotland                         12
 South                            80
 Taiwan                           51
 Thailand                         18
 Trinadad&Tobago                  19
 United-States                 29169
 Vietnam                          67
 Yugoslavia                       16
Name: age, dtype: int64

In [54]:
country_cnt2 = country_cnt2/country_cnt2.sum()

In [64]:
country_cnt2

native_country
 ?                             0.017905
 Cambodia                      0.000584
 Canada                        0.003716
 China                         0.002303
 Columbia                      0.001812
 Cuba                          0.002918
 Dominican-Republic            0.002150
 Ecuador                       0.000860
 El-Salvador                   0.003256
 England                       0.002764
 France                        0.000891
 Germany                       0.004208
 Greece                        0.000891
 Guatemala                     0.001966
 Haiti                         0.001351
 Holand-Netherlands            0.000031
 Honduras                      0.000399
 Hong                          0.000614
 Hungary                       0.000399
 India                         0.003071
 Iran                          0.001321
 Ireland                       0.000737
 Italy                         0.002242
 Jamaica                       0.002488
 Japan                         0.001904
 Laos                          0.000553
 Mexico                        0.019748
 Nicaragua                     0.001044
 Outlying-US(Guam-USVI-etc)    0.000430
 Peru                          0.000952
 Philippines                   0.006081
 Poland                        0.001843
 Portugal                      0.001136
 Puerto-Rico                   0.003501
 Scotland                      0.000369
 South                         0.002457
 Taiwan                        0.001566
 Thailand                      0.000553
 Trinadad&Tobago               0.000584
 United-States                 0.895854
 Vietnam                       0.002058
 Yugoslavia                    0.000491
Name: age, dtype: float64

In [63]:
type(country_cnt2)

pandas.core.series.Series

In [68]:
country_cnt2.to_frame(name='native_country_cnt')

                             native_country_cnt
native_country
 ?                                     0.017905
 Cambodia                              0.000584
 Canada                                0.003716
 China                                 0.002303
 Columbia                              0.001812
 Cuba                                  0.002918
 Dominican-Republic                    0.002150
 Ecuador                               0.000860
 El-Salvador                           0.003256
 England                               0.002764
 France                                0.000891
 Germany                               0.004208
 Greece                                0.000891
 Guatemala                             0.001966
 Haiti                                 0.001351
 Holand-Netherlands                    0.000031
 Honduras                              0.000399
 Hong                                  0.000614
 Hungary                               0.000399
 India                                 0.003071
 Iran                                  0.001321
 Ireland                               0.000737
 Italy                                 0.002242
 Jamaica                               0.002488
 Japan                                 0.001904
 Laos                                  0.000553
 Mexico                                0.019748
 Nicaragua                             0.001044
 Outlying-US(Guam-USVI-etc)            0.000430
 Peru                                  0.000952
 Philippines                           0.006081
 Poland                                0.001843
 Portugal                              0.001136
 Puerto-Rico                           0.003501
 Scotland                              0.000369
 South                                 0.002457
 Taiwan                                0.001566
 Thailand                              0.000553
 Trinadad&Tobago                       0.000584
 United-States                         0.895854
 Vietnam                               0.002058
 Yugoslavia                            0.000491

In [69]:
df2 = country_cnt2.to_frame(name='native_country_cnt')

In [75]:
df2.columns

Index(['native_country_cnt', 'native_country'], dtype='object')

In [74]:
df2['native_country'] = df2.index

In [88]:
df3 = pd.merge(df,df2, left_on='native_country',right_on='native_country')

In [89]:
df3.shape

(32560, 16)

In [90]:
df3.head()

,age,workclass,fnlwgt,education,education_years,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,label,native_country_cnt
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0.895854
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0.895854
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0.895854
3,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0.895854
4,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,0.895854